{% load url from future %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="author" content="Julio Iván Alegre Torrejón">
    <link rel="stylesheet" href="/css/style.css" />
	<script src="/js/magazine.js" type="text/javascript" charset="utf-8"></script>
    <title>{% block title %}MetaMagazine{% endblock %}</title>
</head>

<body>
	<table class="topbar">
		<tr>
			<td>
				{% block login %}
				{% endblock %}
			</td>
			<td class="menu">
				{% if user.is_authenticated %}
					<a href="/magazines/{{user}}">Mi revista</a>  <a href="/conf">Mi cuenta</a>
				{% endif %}
			</td>
		</tr>
	</table>
	<hr />
	<a href="/"><img src="/img/logo.png" alt="" /></a>
   	{% block content %}{% endblock %}
	<div class="footer">
		Created by <a href="http://yonkiblog.com">J. Iván Alegre Torrejón</a>
	</div>
</body>
</html>